<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>

    <ion-title>My offers</ion-title>
 <ion-buttons slot="primary">
  <ion-button routerLink="/places/tabs/offers/create">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-grid>
  <ion-col *ngIf="offers" size="12" size-sm="8" offset-sm="2" class="ion-text-center" >
    <div  *ngIf="isLoading" class="ion-text-center">
      <ion-spinner color="primary" ></ion-spinner>

    </div>
    <div *ngIf="!isLoading && offers.length <= 0" class="ion-text-center">
    <p>No offers found! Please create one first!</p>
    <ion-button color="primary" routerLink="/places/tabs/offers/create">Offer New Place</ion-button>
    </div>
    <ion-list *ngIf="!isLoading && offers.length >0">
      <ion-item-sliding  *ngFor="let offerItem of offers" #slidingItem>
            <app-offer-item [offerItem]="offerItem"></app-offer-item>
        <ion-item-options>
          <ion-item-option color="primary" (click)="onEdit(offerItem.id!,slidingItem)">
             <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-col>
</ion-grid>

</ion-content>

