.validation{

  color: red;
  font-size: 0.7rem;
  text-decoration: none;
  margin-left: 1.2em;

}

// .ion{

//   background-color: #e9ebef;
//   text-decoration: none;
//   text-shadow: none;

// }
