<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <ion-grid >
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input
               type="text"

               id="title-input"
               autocomplete="true"
               autocorrect="true"
               formControlName="title"
               ></ion-input>
        </ion-item>
        <ion-row *ngIf="!form.get('title')?.valid && form.get('title')?.touched" >

            <p class="validation">Title is required!</p>

        </ion-row>
      </ion-col>

    </ion-row>
     <ion-row>


      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label position="floating">Short description</ion-label>
          <ion-input

               id="description-input"
               type="text"
               formControlName="description"
          ></ion-input>
        </ion-item>


    <ion-row *ngIf="!form.get('description')?.valid && form.get('description')?.touched" >

        <p class="validation">Description must be 1-180</p>

    </ion-row>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label position="floating">Price</ion-label>
          <ion-input type="number" formControlName="price"  id="price-input"></ion-input>
        </ion-item>
        <ion-row *ngIf="!form.get('price')?.valid && form.get('price')?.touched" >

            <p class="validation">Price is required!</p>

        </ion-row>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="ion-text-center" sizeSm="6" offsetSm="3">
    <ion-label>Available from</ion-label>
    <div style="display: flex; justify-content: center;">
    <ion-item  (click)="openFromDateModal()">
      <ion-button color="secondary-contrast" size="large" *ngIf="!selectedFromDate">
        <ion-icon slot="icon-only" color="primary" name="calendar-outline"></ion-icon>
       </ion-button>
      <ion-button class="date-btn" color="secondary-contrast" *ngIf="selectedFromDate">
        {{ selectedFromDate }}
      </ion-button>
    </ion-item>
    </div>

    <ion-modal [isOpen]="isFromDateModalOpen" (didDismiss)="closeFromDateModal()">
      <ng-template>
        <ion-datetime
          formControlName="dateFrom"
          [showDefaultButtons]="true"
          (ionChange)="onFromDateSelected($event)"
          min="2018-01-01"
          max="2026-12-31">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-col>
  <ion-col class="ion-text-center" sizeSm="6" offsetSm="3">
    <ion-label>Available to</ion-label>
    <div style="display: flex; justify-content: center;">
    <ion-item  (click)="openToDateModal()">
      <ion-button color="secondary-contrast" size="large" *ngIf="!selectedToDate">
        <ion-icon slot="icon-only" color="primary" name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button class="date-btn" color="secondary-contrast"  *ngIf="selectedToDate">
        {{ selectedToDate }}
      </ion-button>
    </ion-item>
    </div>

    <ion-modal [isOpen]="isToDateModalOpen" (didDismiss)="closeToDateModal()">
      <ng-template>
        <ion-datetime
          formControlName="dateTo"
          [showDefaultButtons]="true"
          (ionChange)="onToDateSelected($event)"
          min="2019-01-01"
          max="2027-12-31">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-col>
    </ion-row>
    <ion-row *ngIf="!form.get('dateFrom')?.valid && form.get('dateFrom')?.touched" >

      <p class="validation">Date Available from is required!</p>

  </ion-row>
  <ion-row *ngIf="!form.get('dateTo')?.valid && form.get('dateTo')?.touched" >

    <p class="validation">Date Available to is required!</p>

</ion-row>
    <ion-row>
      <ion-col>
        <app-location-picker (locationPick)="onLocationPicked($event)" ></app-location-picker>
      </ion-col>
    </ion-row>

    </ion-grid>
  </form>
</ion-content>
