<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>News offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <ion-grid >
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input
               type="text"
               autocomplete="true"
               autocorrect="true"
               formControlName="title"
               ></ion-input>
        </ion-item>
        <ion-row *ngIf="!form.get('title')?.valid && form.get('title')?.touched" >

            <p class="validation">Title is required!</p>

        </ion-row>
      </ion-col>

    </ion-row>
     <ion-row>


      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label position="floating">Short description</ion-label>
          <ion-input
               type="text"
               formControlName="description"
          ></ion-input>
        </ion-item>


    <ion-row *ngIf="!form.get('description')?.valid && form.get('description')?.touched" >

        <p class="validation">Description must be 1-180</p>

    </ion-row>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label position="floating">Price</ion-label>
          <ion-input type="number" formControlName="price" ></ion-input>
        </ion-item>
        <ion-row *ngIf="!form.get('price')?.valid && form.get('price')?.touched" >

            <p class="validation">Price is required!</p>

        </ion-row>

      </ion-col>
    </ion-row>


    <ion-row >
      <ion-col class="ion-text-center" sizeSm="6" offsetSm="3">
        <ion-label >Available from</ion-label >
        <ion-item >

          <ion-datetime-button datetime="fromDate"></ion-datetime-button>
          <ion-modal   [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                     formControlName="dateFrom"
                     [showDefaultButtons]="true"
                     id="fromDate"
                     min="2018-01-01"
                     max="2026-12-31"
                    ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>


      </ion-col>
      <ion-col class="ion-text-center" sizeSm="6" offsetSm="3">
        <ion-label>Available to</ion-label>
        <ion-item>

          <ion-datetime-button datetime="toDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                  formControlName="dateTo"
                  [showDefaultButtons]="true"
                  id="toDate"
                  min="2019-01-01"
                  max="2027-12-31"
                ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

      </ion-col>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
