<ion-item *ngIf="offerItem">
          <ion-thumbnail slot="start">
            <ion-img [src]="offerItem.imageUrl"></ion-img>

          </ion-thumbnail>
          <ion-label class="offers-data" >
            <h1>{{offerItem.title}}</h1>
            <h2>{{offerItem.description}}</h2>
            <div class="offers-details">
              <ion-icon name="calendar" color="primary" ></ion-icon>
              <ion-text color="secondary" class="space-left" >{{offerItem.availableFrom| date}}</ion-text>
              <span class="space-left">to</span>
              <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
              <ion-text color="secondary" class="space-left">{{offerItem.availableTo| date}}</ion-text>
             </div>
          </ion-label>

        </ion-item>
